<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>196020098087-vuci8i5rpbkhu09hh4rruljlk2f7k8vm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.196020098087-vuci8i5rpbkhu09hh4rruljlk2f7k8vm</string>
	<key>API_KEY</key>
	<string>AIzaSyAvUU2EYOogTzMk9k6Ov6GzmJJmzljtct4</string>
	<key>GCM_SENDER_ID</key>
	<string>196020098087</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>FathersLab.SwiftChattingWeb</string>
	<key>PROJECT_ID</key>
	<string>swiftchattingapp-7fa02</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftchattingapp-7fa02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:196020098087:ios:f3daa2d7300abee92caa02</string>
</dict>
</plist>